body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

#subheading {
  text-align: center;
  width: 30%;
  margin: auto;
}

#main {
  margin: auto;
  width: 25%;
}

.post {
  border: 1px solid white;
}

.post-comments {
  border: 1px solid white;
}
